[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
python-decouple = "*"
django-rest-auth = "*"
django-allauth = "*"
pusher = "*"
django-cors-headers = "*"
gunicorn = "*"
django-heroku = "*"
django-rest-api = "*"
asn1crypto = "*"
certifi = "*"
cffi = "*"
chardet = "*"
cryptography = "*"
defusedxml = "*"
dj-database-url = "*"
idna = "*"
ndg-httpsclient = "*"
oauthlib = "*"
psycopg2 = "*"
pyasn1 = "*"
pycparser = "*"
python3-openid = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
six = "*"
urllib3 = "*"
whitenoise = "*"
Django = "*"
pyOpenSSL = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3"
